@import '~font-awesome/css/font-awesome.min.css';

:root {
  --var-primary-orange: #F89F1E;
  --var-primary-red: #E71D35;
  --var-primary-grey: #3FC4B6;
  --var-secondary-grey: #969696;
}

header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: white;
}

.bg-primary-orange {
  background-color: var(--var-primary-orange);
}

.bg-primary-red {
  background-color: var(--var-primary-red);
}

.text-primary-gray {
  color: var(--var-primary-grey);
}

.text-secondary-gray {
  color: var(--var-secondary-grey);
}

.text-primary-orange {
  color: var(--var-primary-orange);
}

.fz-20 {
  font-size: 20px;
}

.fz-12 {
  font-size: 12px;
}

.fz-11 {
  font-size: 11px;
}
